.Artist-item {
    width: 30%;
    margin-right: 30px;
    text-align: center;
    box-shadow: 7px 7px 2px 1px rgba(69, 39, 160, 1);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: #311b92;
    margin-bottom: 30px;
    transition: 0.3s;
}

.Artist-item:nth-child(3n) {
    margin-right: 0;
}

.Artist-item:hover {
    transform: scale(1.02);
    box-shadow: 7px 7px 5px 3px rgba(69, 39, 160, 0.7);
}

.Artist-item:hover .Artist-item__img {
    transform: scale(1.13);
}

.Artist-item__box-img {
    overflow: hidden;
}

.Artist-item__img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.5s;
}