.Album-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #263238;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
}

.Album-item:hover {
    transform: scale(1.02) translate(-15px, -15px);
    box-shadow: 10px 10px 3px 1px rgba(49, 27, 146, 0.2);
}

.Album-item__box-img {
    overflow: hidden;
}

.Album-item__img {
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    margin-right: 50px;
    display: block;
    transition: 0.5s;
}

.Album-item:hover .Album-item__img {
    transform: scale(1.13);
}