*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.Title-page {
  text-align: center;
  border-bottom: 1px solid #4527a0;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.Form {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.Form__fields {
  margin-bottom: 20px;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px 2px rgba(26, 35, 126, 0.2);
  transition: 0.5s;
}

.Form__fields_textarea {
  height: 150px;
}

.Form__fields:focus {
  transform: scale(1.1);
}

.Form__fields_textarea:focus {
  height: 250px;
}

.Form__fields::placeholder {
  color: #263238;
}

.Form__error-label {
  color: red;
  font-size: 12px;
  margin-bottom: 15px;
}

.Form__label {
  margin: 0 10px 20px 0;
}

.Form__btn {
  margin-top: 30px;
  border: none;
  background: transparent;
  box-shadow: 0 0 5px 2px rgba(26, 35, 126, 0.2);
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
  font-weight: bold;
}

.Form__btn:hover {
  background: #7986cb;
  color: #e8eaf6;
}