.Header {
    background: #4527a0;
    color: #e8eaf6;
    font-weight: bold;
    padding: 15px 0 0;
    margin-bottom: 30px;
    position: relative;
}

.Header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.Header__nav-item {
    margin-left: 15px;
    position: relative;
}

.Header__nav-link,
.Header__dropdown-btn {
    text-decoration: none;
    color: #e8eaf6;
    transition: 0.5s;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

.Header__nav-link:hover,
.Header__dropdown-btn:hover,
.Header__nav-link.active {
    color: #81c784;
}

.Header__dropdown-btn {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.Header__dropdown-btn svg,
.Header__nav-link svg {
    font-size: 20px;
    margin: 0 10px;
}

.Header__dropdown__user {
    margin: 0;
}

.Header__dropdown__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.Logo {
    padding-bottom: 15px;
}