.Tracks-item {
    display: flex;
}

.Tracks-item__box-img {
    margin-right: 30px;
}

.Tracks-item__img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
}

.Tracks-item__text {
    font-weight: bold;
}

.Tracks-item__text span {
    font-weight: normal;
}

.Tracks-item__list {
    list-style: none;
    padding: 0;
}

.Tracks-item__list p {
    font-weight: bold;
}

.Tracks-item__list-item {
    margin-bottom: 10px;
}

.Tracks-item__list-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px 0;
}

.Tracks-item__list-btn:hover {
    box-shadow: 0 1px 0 0 #4527a0;
}

.Tracks-item__list-btn:disabled {
    color: inherit;
}